@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --gray-100: #fff;
  --gray-400: #e5e7eb;
  --gray-600: #9ca3af;
  --purple-800: #7e22ce;
  --error: #dc2626;
  --toastify-toast-padding: 8px;
  --toastify-toast-min-height: fit-content;
  --toastify-font-family: "Afacad Flux", serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Afacad Flux", serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font: inherit;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

input[type="text"] {
  border: none;
  outline: none;
  background-color: var(--gray-400);
  width: 100%;
  font-family: "Afacad Flux", serif;
  font-size: 16px;
  border-radius: 4px;
  padding: 8px 4px;
}

select {
  background-color: var(--gray-400);
  border: none;
  outline: none;
  font-family: "Afacad Flux", serif;
  padding: 8px 4px;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}

textarea {
  border: none;
  outline: none;
  background-color: var(--gray-400);
  font-family: "Afacad Flux", serif;
  width: 100%;
  border-radius: 4px;
  padding: 8px 4px;
}

button {
  border: none;
  outline: none;
  background-color: var(--gray-400);
  font-family: "Afacad Flux", serif;
  border-radius: 4px;
  padding: 8px 4px;
  border: 1px solid var(--gray-1000);
  font-size: 14px;
  cursor: pointer;
}
